<%= form_for(criterium) do |f| %>
<div class="modal-content">
  <h4><%= title %></h4>
  <% if criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criterium.errors.count, "error") %> prohibited this criterium from being saved:</h2>

      <ul>
      <% criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :decision_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
</div>

  <div class="modal-footer">
    <%= f.submit class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
  </div>
<% end %>
