<%= form_for(membership) do |f| %>
<div class="modal-content">
  <h4><%= title %></h4>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>
      <ul>
      <% membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :decision_id %>

  <% if membership.user.nil? or membership.new_record? %>
    <div class="field">
      <%= f.label :invited_email %>
      <%= f.text_field :invited_email %>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button :role, :owner %>
    <label for="membership_role_owner">Owner</label> <br>
    <%= f.radio_button :role, :member %>
    <label for="membership_role_member">Member</label>
  </div>
</div>

  <div class="modal-footer">
    <%= f.submit class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
  </div>
<% end %>
