
<div class="card">
  <div class="card-content">
    <span class="card-title">Edit <%= resource_name.to_s.humanize %></span>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name, autofocus: true, class: "validate" %>
          <%= f.label :name %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.email_field :email, autofocus: true, class: "validate" %>
          <%= f.label :email %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "(leave blank if you don't want to change it)", length: @minimum_password_length %>
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", placeholder: "(leave blank if you don't want to change it)" %>
          <%= f.label :password_confirmation %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :current_password, autocomplete: "off", class: "validate" %>
          <%= f.label :current_password, "Current password (we need your current password to confirm your changes)" %>
        </div>
      </div>

      <div class="actions">
        <button type='submit' name='commit' class='btn waves-effect'>Update</button>
      </div>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Cancel my account</span>
    <%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn waves-effect red darken-1' %>
  </div>
</div>

<!-- <%= link_to "Back", :back %> -->
