<%= form_for(decision) do |f| %>
<div class="modal-content">
  <h4><%= title %></h4>
  <% if decision.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(decision.errors.count, "error") %> prohibited this decision from being saved:</p>

      <ul>
      <% decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.radio_button :visibility, :private %>
    <label for="decision_visibility_private">Private</label> <br>
    <%= f.radio_button :visibility, :public %>
    <label for="decision_visibility_public">Public</label>
  </div>
</div>

  <div class="modal-footer">
    <!-- <a href="#!" class=" ">Agree</a> -->
    <%= f.submit class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
  </div>
<% end %>
