<%
  width = 500
  height = 80
%>

<style>
  circle.hover {
    stroke-width: 1px;
    stroke: #999;
  }
  .alternatives-right {
    position: absolute;
    width: 15%;
    margin-top: 20px;
    right: 0;
  }
  .alternatives-right .label {
    padding: 2px 4px;
  }
  .alternatives-right .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .alternatives-right .hover {
    background-color: #CCC;
  }
</style>

<div class="alternatives-right">
  <h6>Alternatives</h6>
  <% @decision.alternatives.each do |a| %>
  <div>
    <span class="label a-<%= a.id %>">
      <span class="dot" style="background-color: <%= a.color %>"></span> <%= a.name %>
    </span>
  </div>
  <% end %>
</div>

<table id="rate-viz" style="margin-top: 20px;">
  <% ([nil] + @decision.criteria).each do |criterium| %>
    <tr>
      <td style="text-align: right;"><%= criterium&.name || 'Overall' %></td>
      <td style="padding: 0">
        <svg class="<%= criterium ? 'criterium' : 'overall' %>" width="<%= width + 150 %>" height="<%= height %>">
          <rect y="<%= height / 2 - (criterium ? 1 : 10) %>" x="20" fill="#CCC"
            width="<%= width %>" height="<%= criterium ? 2 : 20 %>" rx="<%= criterium ? 1 : 10 %>"></rect>
          <g class="label" visibility="hidden">
            <polygon points="-17,0 17,0 17,20 4,20 0,24 -4,20 -17,20" fill="#000" opacity="0.8"></polygon>
            <text fill="#FFF" y="15" text-anchor="middle">5.5</text>
          </g>
        </svg>
      </td>
    </tr>
  <% end %>
</table>

<script>
var criteria = <%= raw @decision.criteria.to_json %>
var alternatives = <%= raw @decision.alternatives.to_json %>
var scores = <%= raw @scores.to_json %>

var xScale = d3.scaleLinear().domain([0, 10]).range([20, <%= width + 20 %>])
var xPos = function(x, i) {
  if (x >= 0 && x <= 10) {
    return xScale(x)
  } else {
    return <%= width %> + 35 + i * 25
  }
}

var drag = d3.drag().on('start', dragStart).on('drag', dragMove).on('end', dragEnd)

calcAvgs()
drawIndividual()

function drawIndividual() {
  var cids = criteria.map(c => c.id)
  cids.unshift('avg')
  d3.select('#rate-viz')
    .selectAll('svg')
    .data(cids)
    .each(function(cid, i) {
      d3.select(this)
        .selectAll('circle')
        .data(alternatives.map((a, i) => ({ id: a.id, color: a.color, cid: cid, index: i })))
      .enter().append('circle')
        .attr('class', a => 'a-' + a.cid + '-' + a.id)
        .attr('cx', a => xPos(scores[a.cid][a.id], a.index))
        .attr('cy', <%= height / 2 %>)
        .attr('r', 10)
        .attr('fill', a => a.color)
        .on('mouseover', function(a) {
          d3.selectAll('.a-' + a.id + ', .a-' + a.cid + '-' + a.id).classed('hover', true)
          d3.select(this).raise()
        })
        .on('mouseout', a => {
          d3.selectAll('.a-' + a.id + ', .a-' + a.cid + '-' + a.id).classed('hover', false)
        })
        .each(function() {
          if (cid != 'avg') drag(d3.select(this))
        })
    })
}

function updateAvg() {
  d3.select('svg.overall')
    .selectAll('circle')
    .attr('cx', a => xPos(scores[a.cid][a.id], a.index))
}

function showLabel(label) {
  var score = xScale.invert(d3.event.x)
  if (score >= 0 && score <= 10) {
    label.attr('transform', 'translate(' + d3.event.x + ')').attr('visibility', 'visible')
    label.select('text').text(Math.round(score*10)/10)
  } else {
    label.attr('visibility', 'hidden')
  }
}

function dragStart() {
  d3.select(this).attr('opacity', 0.8)
  dragMove.apply(this, arguments)
}

function dragMove(a) {
  if (d3.event.x < 20) {
    d3.event.x = 20
  }
  if (d3.event.x > <%= width + 20 %> && d3.event.x < <%= width + 30 %>) {
    d3.event.x = <%= width + 20 %>
  }
  if (d3.event.x > <%= width + 140 %>) {
    d3.event.x = <%= width + 140 %>
  }
  d3.select(this).attr('cx', d3.event.x)
  var score = xScale.invert(d3.event.x)
  if (score < 0 || score > 10) {
    score = -1
  }
  scores[a.cid][a.id] = score
  showLabel(d3.select(this.parentNode).select('.label'))
  calcAvgs()
  updateAvg()
}

function dragEnd(a) {
  d3.select(this).attr('opacity', 1)
  setScore(a.cid, a.id, scores[a.cid][a.id])
  d3.select(this).attr('cx', a => xPos(scores[a.cid][a.id], a.index))
  d3.select(this.parentNode).select('.label').attr('visibility', 'hidden')
}

function calcAvgs() {
  var avgs = {}
  alternatives.forEach(a => {
    var count = 0
    avgs[a.id] = 0
    criteria.forEach(c => {
      if (scores[c.id][a.id] >= 0) {
        avgs[a.id] += scores[c.id][a.id]
        count += 1
      }
    })
    avgs[a.id] /= count
  })
  scores['avg'] = avgs
}

</script>
