<h1>Admin Decision</h1>

<div class="row">
  <div class="col-md-4">
    <h3>Info</h3>
      Description: <%= @decision.description %> <br>
      URL: <a href="/s/<%= @decision.short_url %>">consensus.ucsd.edu/s/<%= @decision.short_url %></a> <br>
      <%= link_to 'Edit', edit_decision_path(@decision) %>
    <h3>Commmittee</h3>
    <ul>
      <% @decision.memberships.includes(:user).each do |membership| %>
        <li>
          <%= membership.user.name %> &lt;<%= membership.user.email %>&gt;
          <% if membership.owner? %>
            <span class="label label-primary">Owner</span>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  </div>
  <div class="col-md-8">
    <h3>Alternatives</h3>
    <ul>
      <% @decision.alternatives.each do |alternative| %>
        <li>
          <h4>
            <span style="background-color: #<%= alternative.color %>;">&nbsp;</span>&nbsp;
            <%= alternative.name %>
          </h4>
          <%= alternative.description %>
        </li>
      <% end -%>
    </ul>
    <h3>Criteria</h3>
    <ul>
      <% @decision.criteria.each do |criterium| %>
        <li>
          <h4><%= criterium.name %></h4>
          <%= criterium.description %>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
