<h1>Decisions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Visibility</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <% decision = membership.decision %>
      <tr>
        <td><%= decision.name %></td>
        <td><%= decision.description %></td>
        <td><%= decision.visibility %></td>
        <td><%= link_to 'Show', decision %></td>
        <td><%= link_to 'Admin', admin_decision_path(decision) %></td>
        <td><%= link_to 'Edit', edit_decision_path(decision) %></td>
        <td><%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decision', new_decision_path %>
