<h1>Decisions</h1>

<a href="<%= destroy_user_session_path %>" data-method="delete">Log out</a>

<% @memberships.each do |membership| %>
  <% decision = membership.decision %>
  <div>
      <div class="row">
          <div class="col s4">
              <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                      <span class="card-title"><%= decision.name %></span>
                      <p><%= decision.description %></p>
                      <div><%= decision.visibility %></div>
                  </div>
                  <div class="card-action">
                      <div><%= link_to 'Rate', decision %></div>
                      <div><%= link_to 'Result', result_decision_path(decision) %></div>
                      <div><%= link_to 'Admin', admin_decision_path(decision) %></div>
                      <div><%= link_to 'Edit', edit_decision_path(decision) %></div>
                      <div><%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  </div>
              </div>
          </div>
      </div>
    <h3></h3>
    <div></div>
  </div>
<% end %>

<br>

<%= link_to 'New Decision', new_decision_path %>
