<style media="screen">
  .tag {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .index-card {
    /*height: 130px;*/
  }
  .decision-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<br>
<h5>My Decisions</h5>
<div class="row">
  <% @memberships.each do |membership| %>
  <% decision = membership.decision %>
  <div class="col s3">
    <div class="card white index-card">
      <div class="card-content black-text">
        <a href="<%= decision_path(decision) %>">
        <span class="card-title"><%= decision.name %></span></a>
        <div class="decision-desc">
          <%= decision.description %>
        </div>
        <span class="new badge grey tag" data-badge-caption="" style="position:0px"><%= decision.visibility %></span>
      </div>
      <!-- <div class="card-action">
        <div><%= link_to 'Rate', decision %></div>
        <div><%= link_to 'Result', result_decision_path(decision) %></div>
        <div><%= link_to 'Admin', admin_decision_path(decision) %></div>
        <div><%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div> -->
    </div>
  </div>
  <% end %>
  <div class="col s3">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title">
          <div class="center">
            <a href="<%= new_decision_path %>" data-modal="true">
              <i class="material-icons">add_circle</i>
            </a>
          </div>

        </span>
      </div>

    </div>
  </div>


</div>
</div>
