<!-- <p><strong>Description:</strong> <%= @decision.description %></p>
<p><strong>Visibility:</strong> <%= @decision.visibility %></p> -->
<br>
<%= form_tag rate_decision_path(@decision) do %>

<script>
  function setScore(cid, aid, score) {
    document.querySelector('#scores_' + cid + '_' + aid).value = score
  }
</script>

<%= render 'rate_viz' %>

<table class="table" style="display: none">
  <thead>
    <tr>
      <th></th>
      <% @decision.alternatives.each do |a| %>
      <th><%= a.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @decision.criteria.each do |c| %>
    <tr>
      <th><%= c.name %></th>
      <% @decision.alternatives.each do |a| %>
      <td>
        <%= text_field_tag "scores[#{c.id}][#{a.id}]", @scores[c.id.to_s][a.id.to_s] %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<button class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>

<% end %>
