<p><strong>Name:</strong> <%= @decision.name %></p>
<p><strong>Description:</strong> <%= @decision.description %></p>
<p><strong>Visibility:</strong> <%= @decision.visibility %></p>

<%= render 'rate_form' %>

<%= link_to 'Result', result_decision_path(@decision) %> |
<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', root_path %>
