<p>
  <strong>Name:</strong>
  <%= @decision.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @decision.description %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @decision.visibility %>
</p>


<h3>Alternatives:</h3>
<ul>
  <% @decision.alternatives.each do |alternative| %>
  <li><%= alternative.name %></li>
  <% end -%>
</ul>

<h3>Criteria:</h3>
<ul>
  <% @decision.criteria.each do |criterium| %>
  <li><%= criterium.name %></li>
  <% end -%>
</ul>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
